/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
address {
  font: inherit;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
figure {
  font-size: 0;
  margin: 0;
  padding: 0;
}
/* Custom Style */
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* general */
img {
  width: 100%;
}
:root {
  --primary: rgb(1, 45, 91);
  --secondary: rgb(253, 101, 106);
  --text: rgb(25, 29, 51);
  --small-text: rgb(91, 107, 122);
  --bg: rgb(246, 249, 254);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.container2 {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 100px;
}
.container3 {
  max-width: 1000;
  margin: 0 auto;
  padding: 0 150px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.uppercase {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
p {
  font-size: 14px;
  color: var(--small-text);
}
.margin {
  margin: 100px 0;
}
.margin-bottom {
  margin-bottom: 150px;
}
.flex-40 {
  flex: 0 1 40%;
}

.flex-30 {
  flex: 0 1 31%;
}
.center {
  text-align: center;
}
.font-size {
  font-size: 0;
}
/* header */

.address {
  padding: 10px 0;
  color: white;
  background-color: var(--primary);
}
.location i {
  margin-right: 10px;
}
.address a {
  color: white;
}
.navbar {
  margin: 10px auto;
}
.navmenu a:hover {
  color: var(--secondary);
}
header a {
  color: rgb(40, 78, 115);
  font-weight: 600;
  margin-right: 40px;
}
.background-btn {
  border: none;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 5px;
}
.background-btn a {
  margin-right: 0px;
  padding: 10px;
  color: white;
}
.background-btn a:hover {
  color: black;
}
.navmenu .btn-1:hover {
  color: black;
}
/* section1 */
.background-img {
  background-image: url(../media/hero/h1_hero.jpg);
  background-position: center;
  background-size: cover;
  padding: 160px;
}
.crimson {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
}
.grow-business {
  margin-bottom: 40px;
  width: 52%;
  color: var(--primary);
  font-size: 48px;
  font-weight: 900;
}
/* section2 */
.section2 {
  background-color: var(--bg);
}
.section2-article-info {
  height: 300px;
}
h2 {
  color: var(--text);
  font-size: 20px;
  margin: 15px 0;
}

.box {
  padding: 10px;
  background-color: white;
  border: 3px solid var(--secondary);
}
h3 {
  font-size: 32px;
}
.line {
  margin: 10px 0;
  margin-right: 120px;
  height: 3px;
  border: none;
  background-color: var(--secondary);
}
.para {
  font-size: 12px;
  margin-bottom: 20px;
}
.view-btn {
  font-size: 12px;
  color: var(--text);
}
/* section3 */
.section3-material {
  width: 60%;
  margin-left: 140px;
}
.section3-article {
  margin-top: 90px;
  padding: 30px;
  width: 29%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-left: 500px;
}
.para2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* section4 */
.section-4-info {
  margin: 50px 0;
}
h4 {
  font-size: 40px;
  text-align: center;
}
h5 {
  margin: 20px 0;
}
.box1 {
  padding: 50px 30px;
  width: 23%;
  color: var(--text);
  text-align: center;
  background-color: rgb(252, 253, 255);
}
.box1 a {
  color: var(--text);
  padding-bottom: 30px;
  font-size: 40px;
}
.btn-4 {
  margin-left: 300px;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btn-4 a {
  color: var(--secondary);
}
/* section5 */
.section5 {
  margin-bottom: 150px;
  background-color: var(--bg);
}
.section-5-info {
  overflow: hidden;
  width: 45%;
}
.section-5-heading {
  margin-right: 100px;
  margin-left: 240px;
}
.section-5-info img {
  margin: 100px 0;
  height: 300px;
  margin-left: 10px;
}
.para3 {
  margin-top: 20px;
}
.btn-5 {
  margin-top: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btn-5 a {
  color: var(--secondary);
}
/* section6 */
.section-6-info {
  text-align: -webkit-center;
}
.testimonial {
  width: 100px;
}
.para4 {
  color: var(--text);
  margin: 40px 0;
  font-size: 20px;
  padding: 0 100px;
}
.yellow i {
  color: rgb(251, 186, 66);
  margin-bottom: 30px;
}
small {
  color: var(--text);
}
/* section7*/
.recent-img {
  background-color: rgb(252, 253, 255);
  margin-right: 20px;
  margin-top: 50px;
}
.recent-info {
  padding: 20px;
}
.recent-info h6 {
  margin-top: 15px;
  margin-bottom: 7px;
}
time {
  font-size: 12px;
  color: rgb(194, 205, 216);
}
/* section8 */
.section8 {
  color: white;
  background-color: rgb(1, 45, 91);
}
.section8 h3 {
  color: white;
}
.section-8-info {
  padding: 100px 0;
  flex: 0 1 50%;
  margin-right: 80px;
}
.form-control {
  color: rgb(128, 153, 176);
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid rgb(90, 129, 168);
  padding: 10px 50px;
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.form {
  color: white;
}
.btn-6 {
  margin-bottom: 30px;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  margin-right: 20px;
}
.white {
  margin-top: 20px;
  color: white;
}
/* footer */
footer {
  padding-top: 150px;
  background-color: var(--bg);
}
.footer-material {
  margin-bottom: 100px;
}
footer a {
  color: var(--text);
  margin-right: 20px;
}
.unorder {
  color: var(--text);
  font-size: 20px;
  display: flex;
}
.footer-info {
  margin-right: 50px;
  width: 25%;
}
.footer-info p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.heading6 {
  color: rgb(19, 59, 105);
}
.copyright {
  display: block;
  padding: 20px 0;
 
}
.pink{
  background-color: var(--bg);
  color:var(--secondary);
}
.line-height {
  margin-top: 20px;
  line-height: 2.5;
}
.line-height li {
  font-size: 12px;
  color: var(--small-text);
}
.get-in-touch {
  margin-bottom: 56px;
}
/* About Page */
.section1-about {
  background-image: url(../media/hero/about_hero.jpg);
}
.hero-header {
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}
.hero-heading {
  color: white;
  font-size: 40px;
  padding: 120px;
}
/* Services Page */
.section1-service {
  background-image: url(../media/hero/services_hero.jpg);
}
/* Cases Page */
.section1-case {
  background-image: url(../media/hero/cases_hero.jpg);
}
.case-img {
  margin-top: 50px;
  position: relative;
}
.case-image2 {
  width: 350px;
  height: 400px;
}
.section-2-case-info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
}
.section-2-case {
  padding-bottom: 150px;
}
/* Blog Page */
.section3-blog {
  background-image: url(../media/hero/blog_hero.jpg);
}
.section4-blog {
  justify-content: flex-start;
  align-items: flex-start;
}
.section-4-blog-info {
  margin-bottom: 30px;
  box-shadow: 3px 3px 6px 2px gainsboro;
}
.blog-info {
  margin-right: 50px;
  margin-bottom: 100px;
}
.red-box {
  margin-left: 30px;
  padding: 30px 20px;
  border-radius: 3px;
  background-color: var(--secondary);
  color: white;
}
.heading-blog {
  padding-left: 15px;
  margin-top: 60px;
}
.para-blog {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.comments {
  padding-left: 15px;
}
.background {
  background-color: var(--bg);
}
.blog-aside-header {
  margin-bottom: 50px;
}
span {
  background-color: white;
  color: var(--small-text);
}
.keyword {
  line-height: 5;
  padding: 10px 0px;
  border: 2px solid plum;
}
.keyword a {
  line-height: 1.7;
  padding: 10px 20px;
  margin-left: 80px;
  background-color: var(--secondary);
}
.keyword i {
  color: white;
}
.btn-8 {
  background-color: white;
  margin-top: 20px;
  line-height: 3;
  padding: 10px 108px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
span i {
  color: var(--small-text);
}
.search {
  margin-left: 30px;
}
.margin-bottom {
  margin-bottom: 20px;
  padding: 20px;
}
.category-list {
  margin-top: 30px;
  line-height: 3.5;
}
.purple {
  margin-top: 10px;
  border: none;
  height: 1px;
  background-color: plum;
}
.recent-post-info {
  margin-top: 20px;
}
.recent-post-img {
  margin-right: 15px;
}
.heading4-blog {
  font-weight: 600;
  font-size: 15px;
}
.tags {
  color: black;
  background-color: white;
  border: 1px solid lightslategray;
  margin-right: 10px;
  padding: 0 5px;
}
.tag-list {
  margin-bottom: 15px;
}
.instagram-image {
  margin-bottom: 10px;
}
.instagram-image img {
  margin-right: 10px;
}
.news-header {
  margin-bottom: 30px;
}
.blog-email {
  background-color: white;
  line-height: 5;
  border: 1px solid plum;
  padding: 10px 94px;
}
.switch-box {
  text-align: center;
  margin-top: 100px;
}
.switch-box-child {
  margin-right: 20px;
  padding: 20px;
  border: 1px solid plum;
}
.line3 {
  padding-left: 100px;
}

/* contact */
.section1-contact {
  background-image: url(../media/hero/contact_hero.jpg);
}

iframe {
  margin-bottom: 50px;
  width: 100%;
}
form {
  padding-right: 30px;
}
.contact-heading {
  margin-bottom: 20px;
  color: rgb(19, 59, 105);
  font-weight: 600;
  font-size: 24px;
}
.form-control-2 {
  color: rgb(128, 153, 176);
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid gray;
  padding: 10px 50px;
  margin-bottom: 30px;
}
.mail {
  width: 48%;
}
.name {
  width: 48%;
}
.name2 {
  width: 90%;
}
.contact-adress {
  color: var(--small-text);
  margin-bottom: 20px;
}
.parent {
  border: 2px solid black;
  width: 100%;
}
.contact-adress a {
  color: var(--small-text);
  font-size: 32px;
}
.btn-7 {
  padding: 10px 65px;
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.section-2-contact {
  margin-bottom: 150px;
}
